In [1]:
import pandas as pd

In [2]:
excel_name = "Superstore.xls"

In [3]:
orders_df = pd.read_excel(excel_name, sheet_name="Orders")
orders_df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2020-138688,2020-06-12,2020-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
people_df = pd.read_excel(excel_name, sheet_name="People")
people_df.head()

    Regional Manager   Region
0    Sadie Pawthorne     West
1        Chuck Magee     East
2  Roxanne Rodriguez  Central
3        Fred Suzuki    South

In [5]:
returns_df = pd.read_excel(excel_name, sheet_name="Returns")
returns_df.head()

  Returned        Order ID
0      Yes  CA-2018-100762
1      Yes  CA-2018-100762
2      Yes  CA-2018-100762
3      Yes  CA-2018-100762
4      Yes  CA-2018-100867

In [14]:
[(n, c.isna().sum()) for n, c in orders_df.items()]

[('Row ID', np.int64(0)),
 ('Order ID', np.int64(0)),
 ('Order Date', np.int64(0)),
 ('Ship Date', np.int64(0)),
 ('Ship Mode', np.int64(0)),
 ('Customer ID', np.int64(0)),
 ('Customer Name', np.int64(0)),
 ('Segment', np.int64(0)),
 ('Country/Region', np.int64(0)),
 ('City', np.int64(0)),
 ('State', np.int64(0)),
 ('Postal Code', np.int64(11)),
 ('Region', np.int64(0)),
 ('Product ID', np.int64(0)),
 ('Category', np.int64(0)),
 ('Sub-Category', np.int64(0)),
 ('Product Name', np.int64(0)),
 ('Sales', np.int64(0)),
 ('Quantity', np.int64(0)),
 ('Discount', np.int64(0)),
 ('Profit', np.int64(0))]

There are 11 missing postal codes

In [15]:
orders_df["Ship Mode"].value_counts()

Ship Mode
Standard Class    5968
Second Class      1945
First Class       1538
Same Day           543
Name: count, dtype: int64

Four types of shipping mode: Standard, Second Class, First Class, Same Day
Assuming expense order from most to least expensive:
- Same Day
- First Class
- Second Class
- Standard

In [16]:
orders_df["Segment"].value_counts()

Segment
Consumer       5191
Corporate      3020
Home Office    1783
Name: count, dtype: int64

Three types of customer segments:
- Consumer
- Corporate
- Home Office

In [17]:
orders_df["Country/Region"].value_counts()

Country/Region
United States    9994
Name: count, dtype: int64

All sales are made in the United States

In [18]:
orders_df["City"].value_counts()

City
New York City    915
Los Angeles      747
Philadelphia     537
San Francisco    510
Seattle          428
                ...
Abilene            1
Montebello         1
Kissimmee          1
Danbury            1
Springdale         1
Name: count, Length: 531, dtype: int64

In [19]:
orders_df["State"].value_counts()

State
California              2001
New York                1128
Texas                    985
Pennsylvania             587
Washington               506
Illinois                 492
Ohio                     469
Florida                  383
Michigan                 255
North Carolina           249
Arizona                  224
Virginia                 224
Georgia                  184
Tennessee                183
Colorado                 182
Indiana                  149
Kentucky                 139
Massachusetts            135
New Jersey               130
Oregon                   124
Wisconsin                110
Maryland                 105
Delaware                  96
Minnesota                 89
Connecticut               82
Missouri                  66
Oklahoma                  66
Alabama                   61
Arkansas                  60
Rhode Island              56
Utah                      53
Mississippi               53
South Carolina            42
Louisiana                 42
Nevada                    39
Nebraska                  38
New Mexico                37
Iowa                      30
New Hampshire             27
Kansas                    24
Idaho                     21
Montana                   15
South Dakota              12
Vermont                   11
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
Name: count, dtype: int64

In [20]:
orders_df["Region"].value_counts()

Region
West       3203
East       2848
Central    2323
South      1620
Name: count, dtype: int64

In [23]:
orders_df["Product ID"].value_counts()

Product ID
OFF-PA-10001970    19
TEC-AC-10003832    18
FUR-FU-10004270    16
FUR-CH-10002647    15
FUR-CH-10001146    15
                   ..
TEC-MA-10004552     1
TEC-MA-10003589     1
OFF-AP-10003099     1
TEC-PH-10002645     1
OFF-ST-10001627     1
Name: count, Length: 1862, dtype: int64

In [25]:
orders_df["Category"].value_counts()

Category
Office Supplies    6026
Furniture          2121
Technology         1847
Name: count, dtype: int64

Three product categories:
- Office Supplies
- Furniture
- Technology

In [26]:
orders_df["Sub-Category"].value_counts()

Sub-Category
Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        115
Copiers          68
Name: count, dtype: int64

In [27]:
orders_df["Discount"].value_counts()

Discount
0.00    4798
0.20    3657
0.70     418
0.80     300
0.30     227
0.40     206
0.60     138
0.10      94
0.50      66
0.15      52
0.32      27
0.45      11
Name: count, dtype: int64

In [28]:
orders_df[["Sales", "Quantity", "Discount", "Profit"]].describe()

              Sales     Quantity     Discount       Profit
count   9994.000000  9994.000000  9994.000000  9994.000000
mean     229.858001     3.789574     0.156203    28.656896
std      623.245101     2.225110     0.206452   234.260108
min        0.444000     1.000000     0.000000 -6599.978000
25%       17.280000     2.000000     0.000000     1.728750
50%       54.490000     3.000000     0.200000     8.666500
75%      209.940000     5.000000     0.200000    29.364000
max    22638.480000    14.000000     0.800000  8399.976000

* Deepest discount is 0.8
* There are negative profits

In [30]:
orders_df[["Category", "Sub-Category", "Product ID"]].head()

          Category Sub-Category       Product ID
0        Furniture    Bookcases  FUR-BO-10001798
1        Furniture       Chairs  FUR-CH-10000454
2  Office Supplies       Labels  OFF-LA-10000240
3        Furniture       Tables  FUR-TA-10000577
4  Office Supplies      Storage  OFF-ST-10000760

Product ID starts with category and subcategory code